* {
    box-sizing: border-box;
}
   body {
    font-family: 'Open Sans' , sans-serif;
    }
   
    .Contenedor {
        background: #667eea;
        text-align: center;
    }

    .Contenedor p{
       max-width: 80%;
       text-align: center;
       margin-left: 90px;
    }
